body {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 13px;
    color: #666;
}
h1 {
    font-weight: normal;
    font-size: 1em;
    color: #333;
}
.chart{
	position: absolute;
	top: 0px; 
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.node{
	width: 150px;
	height: 50px;
	background: #eee;
    border: solid 1px #666;
	position: absolute;
	cursor: pointer;
}
.nodeContent{
	padding: 3px;
	text-align: center;	
}
.line{
	background-color: #666;
	position: absolute;
	cursor: pointer;
}
.horizontalSegment{
	width: 200px;
	height: 2px;
}
.verticalSegment{
	width: 1px;
	height: 200px;
}
.glyph{
	position: absolute;
	width: 16px;
	height: 16px;
}
.selected {
    z-index: 9000;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
}
.group {
    position: absolute;
}
#elementList {
    position: absolute;
    right: 10px;
    width: 200px;
    top: 10px;
    bottom: 10px;
    overflow: auto;
    border: solid 1px #666;
    padding: 3px;
    z-index: 8000;
    background: #efefef;
}
#tools {
    position: absolute;
    right: 220px;
    width: 100px;
    top: 10px;
    height: 200px;
    border: solid 1px #666;
}
.button {
    text-align: center;
    margin: 10px;
    padding: 5px;
    color: #fff;
    background: #ccc;
    cursor: pointer;
}
.point {
    position: absolute;
    width: 7px;
    height: 7px;
    border: solid 1px #666;
    cursor: pointer;
    background: #fff;
}
#export {
    position: absolute;
    bottom: 10px;
    height: 300px;
    left: 10px;
    right: 230px;
    border: solid 1px #666;
    overflow: auto;
    background: #fff;
    z-index: 9000;
    padding: 9px;
}
