.chart{
	position: absolute;
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
}
.node{
	width: 150px;
	height: 50px;
	border: solid 2px #ccc;
	background: #eee;
	position: absolute;
	cursor: pointer;
}
.nodeContent{
	padding: 3px;
	text-align: center;	
}
.link{
	background-color: #ccc;
	position: absolute;
	cursor: pointer;
}
.linkHorizontal{
	width: 200px;
	height: 2px;
}
.linkVertical{
	width: 2px;
	height: 200px;
}
.glif{
	position: absolute;
	width: 16px;
	height: 16px;
}
